<input id="input-search" (input)="search($event.target.value)" type="text" name="search" placeholder="Search for a dish"/>

<p>Filter: </p>

<form name="countryFilter" ng-controller="countryFilterController">
  <div class="countryFilters">

    <div class="countryFilterItem">
      <button type='button' value="Indian" (click)="filterRecipes($event.target.value)">Indian</button>
    </div>
    <div class="countryFilterItem">
      <button type='button' value="Japanese" (click)="filterRecipes($event.target.value)">Japanese</button>
    </div>
    <div class="countryFilterItem">
      <button type='button' value="Moroccan" (click)="filterRecipes($event.target.value)">Moroccan</button>
    </div>
    <div class="countryFilterItem">
      <button type='button' value="French" (click)="filterRecipes($event.target.value)">French</button>
    </div>
  </div>
</form>

<h3 *ngIf="searchString">Search results for: {{ searchString | uppercase }}</h3>
<ul *ngIf="recipes">
  <li *ngFor="let recipe of recipes">
    <a routerLink="/recipe/{{recipe.id}}">
    <header>
      <h3>{{ recipe.name }}</h3>
    </header>
    <main>
      <img src="{{recipe.photoUrl}}" alt="">
      <div class="to-recipe__container">
        <p class="to-recipe">Go to recipe</p>
      </div>
    </main>
  </a>
  </li>
</ul>
